/*GENERAL*/
body{ 
    color: black;
    background: black;
    font-family: 'Raleway', sans-serif;
    font-weight: 900;
    -webkit-font-smoothing: antialiased;
    
}

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
    content: " ";
    display: table;
}

.container:after,
.group:after,
.menu:after{
    clear: both;  
}

.container,
.group,
.menu{
    *zoom: 1;
}

a {
    text-decoration: none;
}
.menu{

    list-style: none;
    padding-left: 0;
    margin: 0;
}

.fa {
    vertical-align: middle;
}

.menu li{
    float: left;
}

.container {
 width: 1800px;
 margin: auto; 
}


/*CONTACT<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

.contact-bar{
    height: 80px;
    background-color: #010101;
    
}

.social{
    float: right;
    display: block;
    margin-bottom: 50px;
    
}

.social-icon{
    display: block;
    color: white; 
    
   
}

.social-icon2{
    display: block;
    color: white;
    margin-right: 60px;
    margin-left: 40px;   
   
}
.social-icon:hover,
.social-icon:focus{
    display: block;
    color: grey;
    
}

.social-icon2:hover,
.social-icon2:focus{
    display: block;
    color: #0A66C2;
}
/*NAVIGATION<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/ 

.navigation{
    float: right;
    font-family: 'Raleway', sans-serif;
    text-transform: uppercase;
    font-weight: 100;
    border-radius: 20px;
    
    
}

.navigation a{
    display: block;
    color: white;
    width: 150px;
    height: 36px;
    line-height: 36px;
    text-align: center; 
    border-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
    letter-spacing: 3px;
    padding-top: 40px;
    
}

.navigation a:last-child{
    margin-right: 50px;

}

.navigation .fa{
    margin-right: 10px;
    font-size: 16px;
    
}

.selected a,
.navigation a:hover,
.navigation a:focus{
    color: white;
    text-decoration-line: underline;
    text-underline-offset: 20px;
    
}

.logo a {
    display: block;
    color: white;
    font-size: 50px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;  
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-top: 28px;
    padding-left: 25px;
   
}

/*article<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
.text-center{
text-align: center;
opacity: 50%;
padding-left: 0px;
padding-bottom: 20px;
}

.nav-bar{
    background: url('./images_project2/earth2.jpg') center -230px no-repeat;
    height: 850px;
}

.post-content h2{
    font-size: 16px;
    line-height: 30px;
    color: white;
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    width: auto; 
    text-align: center;
    margin-top: 20px;  
}


/*INTRO<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/
* {
    padding: 0;
    margin: 0;
    font-family: 'Nunito Sans', sans-serif;
}
  
  .container0 {
    text-align: center;
    position: relative;
    top: 20%;
    left: 60%;
    width: 450px;
    background: black;
    display: block;
    border-radius: 8px;
    opacity: 80%;
    
  }

  .container1 {
    text-align: center;
    position: relative;
    top: 20%;
    left: 5%;
    width: 0px;
    background: black;
    padding: 20px 20px 40px;
    
  }
  
  .container1 span {
    text-transform: uppercase;
    display: block;
   
  }
  
  .text1 {
    font-size: 50px;
    font-weight: 800;
    letter-spacing: 8px;
    margin-bottom: 20px;
    position: relative;
    color: white;
    animation: text 3s 1;
    
    
  }
  
  .text2 {
    font-size: 20px;
    color: #47DDE5;
    text-shadow: grey;
    text-decoration: underline;
    text-underline-offset: 10px;
  }
  
.text2:hover,
.text2:focus{
    cursor: pointer;
  }
  
  @keyframes text {

    0% {
    letter-spacing: 8px;
    font-size: 0px;
    }
    30% {
    
      letter-spacing: 8px;
      font-size: 50px;
      
      }
    85% {
      letter-spacing: 8px;
      font-size: 50px;
      }

  }

  /*responsible<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<<*/

@media screen and (min-width: 1140px ) {
    .container{
        width: 75%;
    }

    .post-content h2{
        padding-left: 40px;
        padding-right: 30px;
    }

    .post-title{
        padding-left: 50px;
    }

    .logo a{
        display: block;
    color: white;
    font-size: 35px;
    font-family: 'Raleway', sans-serif;
    font-weight: 300;  
    text-transform: uppercase;
    letter-spacing: 10px;
    padding-top: 28px;
    padding-left: 25px;

    }
    
    .navigation a{
        display: block;
        color: white;
        width: 130px;
        height: 36px;
        line-height: 36px;
        text-align: center; 
        border-radius: 20px;
        margin-right: 10px;
        font-size: 14px;
        letter-spacing: 3px;
        padding-top: 25px;
        
    }

    .navigation a:last-child{
        margin-right: 40px;
    
}

.social{
    float: right;
    display: block;
    margin-bottom: 50px;
    
    
}

.social-icon{
    display: block;
    color: white; 
    
}

.social-icon2{
    display: block;
    color: white;
    margin-left: 20px;   
   
}
.social-icon:hover,
.social-icon:focus{
    display: block;
    color: grey;
    
}

.social-icon2:hover,
.social-icon2:focus{
    display: block;
    color: #0A66C2;
}

@media screen and (max-width: 530px ) {

    .logo a{
        font-size: 50px;
    }

}