/*GENERAL*/
body{ 
    color: black;
    background: whitesmoke;
    font-family: 'Raleway', sans-serif;
    -webkit-font-smoothing: antialiased;
}

.container:before,
.group:before,
.menu:before,
.container:after,
.group:after,
.menu:after {
    content: " ";
    display: table;
}

.container:after,
.group:after,
.menu:after{
    clear: both;  
}

.container,
.group,
.menu{
    *zoom: 1;
}

a {
    text-decoration: none;
}
.menu{

    list-style: none;
    padding-left: 0;
    margin: 0;
}

.fa {
    vertical-align: middle;
}

.menu li{
    float: left;
}

.container {
 width: 1170px;
 margin: auto; 
}


/*CONTACT*/

.contact-bar{
    height: 80px;
    background-color: #E5E5E5;
    font-size: 15px;
}

.social{
    float: right;
    margin-top: 25px;
}

.social-icon{
    display: block;
    color: black;    
    margin-right: 20px;
}

.social-icon:hover,
.social-icon:focus{
    color: grey;
    
}

/*NAVIGATION*/ 

.navigation{
    float: right;
    margin-top: 20px;
    
}

.navigation a{
    display: block;
    color: black;
    width: 150px;
    height: 36px;
    line-height: 36px;
    text-align: center; 
    border-radius: 20px;
    margin-right: 10px;
    font-size: 16px;
}

.navigation .fa{
    margin-right: 10px;
    font-size: 16px;
    
}

.selected a,
.navigation a:hover,
.navigation a:focus{
    background: black;
    color: white;
}

.logo a {
    display: block;
    color: black;
    font-size: 80px  
}

/*article*/
.text-center{
text-align: center;

}

.post-header{
    height: 200px;
    background: url('./images_project2/33.jpg') center -400px no-repeat;
    margin-top: 20px;
}

.post-title{
    color: white;
    margin-top: 100px;
    font-size: 60px;
    text-transform: uppercase;
}

.post-content h2{
    font-size: 16px;
    line-height: 30px;
    margin-top: 50px;
}